.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  max-width: 1080px;
  margin: 20px 0 50px 0;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px; 
  width: 100%; /* Added width to ensure the hero section scales properly */
}
